@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(83, 82, 82); 
  color: white;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 0px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(64, 64, 64); 
  color: white;
  box-shadow: 3px 3px 5px rgb(109, 109, 109);
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 0px solid black;
    border-radius: 5px;
    background-color: rgb(145, 142, 142); 
    color: white;
    box-shadow: 3px 3px 5px rgb(109, 109, 109);
}
.text-center{
    text-align: center;
}
  
.bg-red{
    background: red;
    box-shadow: 3px 3px 5px rgb(121, 79, 79);

}
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }