*{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family:  'Arial Narrow Bold', sans-serif;
}
.upper{
    height: 100vh;
    background-image: url(kybhabhh.png);
    background-size: cover;
}
i{
    color: white;
}

.m_menu{
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    color: #000;
}
.menu_name{
    height: 6.5vh;
    width: 66rem;
    font-size: 0.9rem;
    text-align: center;
    color: black;
}

.m_name{
    margin-top: 49.5vh;
    height: 9vh;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.name_music{
    width: 60vw;
    height: 7.5vh;
}
.name_verifyed{
    font-size: 1.5rem;
    margin-top: 2vh;
    height: 8vh;
}
.m_track{
height: 4.25vh;
padding-left: 3rem;
padding-right: 3rem;
padding-top: 2.75vh;
}
.track_line{
height: 0.65vh;
background-color: rgba(235, 235, 235, 0.507);
border-radius: 1rem;
}
.track_time{
height: 3vh;
display: flex;
align-items: center;
font-size: 0.65rem;

}
.m_navbar{
height: 11vh;
display: flex;
align-items: center;
padding-left: 5rem;
padding-right: 4rem;
font-size: 1.5rem;
}
.navbar_shuffle{
margin-right: 25vw;
}
.navbar_backward{
margin-right: 11vw;
font-size: 2.25rem;
}
.navbar_play{
font-size: 3.5rem;
}
.navbar_forward{
margin-left: 11vw;
font-size: 2.25rem;
}
.navbar_repeat{
margin-left: 25vw;
}
.m_more{
height: 6.5vh;
display: flex;
align-items: center;
padding-left: 2rem;
padding-right: 2rem;
font-size: 1.1rem;
}

.lower{
height: 100vh;
background-color: rgb(3, 1, 11);
padding-left: 2.5rem;
padding-right: 2.5rem;
}
.about_artist{
height: 50vh;
background-color: #3b414b;
border-radius: 1rem;
display: flex;
align-items: center;
}
.about_img{
height: 50vh;
width: 80vh;
border-top-left-radius: 1rem;
border-bottom-left-radius: 1rem;
background-image: url(artist.jpg);
background-size: contain;
}
.about_info{
margin-left: 2.75vw;
}
.profile{
height: 12.5vh;
width: 47vw;
display: flex;
}
.profile_name{
height: 10vh;
width: 30vw;
}
.name{
height: 6.5vh;
width: 30vw;
font-size: 1.5rem;
font-weight: 700;
}
.listner{
height: 4.5vh;
width: 30vw;
font-size: 0.8rem;
color: #cccccc;
}
.follow{
margin-left: 4.5vw;
height: 12.5vh;
width: 12.5vw;
}
button{
height: 2rem;
width: 5rem;
margin-left: 2rem;
margin-top: 0.5rem;
background-color: #3b414b;
font-weight: 700;
font-size: 1rem;
border: 1px solid white;
border-radius: 2rem;
}
.info{
margin-top: 2.5vh;
height: 25vh;
width: 47vw;
font-size: 0.8rem;
color: #cccccc;
}
.credits{
height: 38vh;
background-color: #3b414b;
border-radius: 1rem;
margin-top: 2rem;
margin-left: 4rem;
margin-right: 4rem;
padding-left: 1.5rem;
padding-right: 1rem;
}
.ccc{
height: 5vh;
font-size: 1rem;
padding-top: 2vh;
font-weight: 700;
margin-bottom: 1vh;
}
.cra{
height: 8vh;
margin-top: 2vh;
display: flex;
}
.namec{
font-size: 1rem;
margin-top: 0.5vh;
font-weight: 500;
}
.type{
font-size: 0.8rem;
margin-top: 0.3vh;
color: #cccccc;
}
#craf{
height: 2rem;
width: 5rem;
background-color: #3b414b;
font-weight: 700;
font-size: 1rem;
border: 1px solid white;
border-radius: 2rem;
margin-left: 60vw;
}